{% comment %} {% extends 'base.html' %} {% endcomment %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'products/style.css' %}" >

{% if product_list %}
    <ul>
    {% for product in product_list %}
        {% comment %} <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li> {% endcomment %}
        <li><a href="/products/{{ product.id }}/">{{ product.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No products are available.</p>
{% endif %}